NODE_ENV=development
PORT=4000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=miniapp
DATABASE_PASSWORD=miniapp_password
DATABASE_NAME=miniapp

TELEGRAM_BOT_TOKEN=123456:REPLACE_ME
FRONTEND_URL=http://localhost:3000
